{%extends 'base.html'%} {%load static%} {%block title%} Create {%endblock%}
{%block content %}

<style>
    input[type=text]{
        pointer-events: none;
        
    }

</style>


<div class="card p-2">

    <div class="card-body p-4 m-4">


        <div class="accordion mb-5" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Select Branch And Date
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <div>
                            <h3>Select Branch</h3>
                            <form action="." method="GET">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <select name="branch" id="branch-select" class="form-control">
                                            {% for branch in branches %}
                                                <option value="{{branch.branch_code}}">{{branch.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="date" name="date" class="form-control" value="{{request.GET.date}}">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="submit" value="Filter" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% if message %}
            <h2>{{message}}</h2>

            {% else %}
            <div class="mt-4 text-center">
                {% if request.GET.branch %}
                <h4>{{request.GET.branch}}</h4>
                {% endif %}
            </div>
            <form method="POST" action="{% url 'reconcile' %}" id="branch-form">
                {% csrf_token %}

                <div class="mt-5">
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr class="fw-bolder">
                                <th>Item Name</th>
                                <th>Opening</th>
                                <th>Received</th>
                                <th>Wastage</th>
                                <th>Returned</th>
                                <th>Sold</th>
                                <th>Closing</th>
                                <th>Physical</th>
                                <th>Discrepancy</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td class="fw-bolder">{{product.title}}</td>
                                <td><p name="{{product.id}}">{{product.opening}}</p></td>
                                <td><p name="{{product.id}}">{{product.received}}</p></td>
                                <td><p name="{{product.id}}">{{product.wastage}}</p></td>
                                <td><p name="{{product.id}}">{{product.returned}}</p></td>
                                <td><p name="{{product.id}}">{{product.sold}}</p></td>
                                <td>{{product.closing}}</td>
                                <td> {{product.physical}}</td>
                                <td>{{product.discrepancy}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
                <div class="row col-md-2">
                    {% if should_save %}
                    <input type="submit" value="SAVE" class="btn btn-primary">
                    {% endif %}
                </div>
            </form>

            {% endif %}

        </div>
    </div>
</div>


<!-- <script>
    let branchSelect = document.getElementById('branch-select');
    let branchForm = document.getElementById('branch-form');

    branchSelect.addEventListener('change', ()=>{
        branchForm.submit()
    })
</script> -->

{% endblock %}